/*초기화===============================*/
body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
li {
    text-decoration: none;
    list-style: none;
}



/*header==========================================*/
header {
    width: 100%;
    height: 80px;
    position: fixed;
}
/*첫번째 nav*/
#first_menu {
    max-width: 100%;
    display: flex;
    height:100px;
    justify-content: center;
}
#GSM_logo img {
    width: 200px;
    height: 70px;
}
#title_form {
    margin-left: 20%;
    margin-top: 1%;
}
#GSM_logo {
    margin-left: 33%;
    margin-top: 1%;
}
/*두번째 nav*/
#second_menu {
    max-width: 100%;
    display: flex;
    height: 80px;
    justify-content: center;
}
#main_menu > li {
    width: 200px;
    float: left;
    background: #35477d;
}
#main_menu > li > a {
    font-size: 0.85rem;
    color: rgba(225, 225, 225, 0.85);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 14px 36px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#main_menu > li:nth-child(1) > a {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.sub_menu {
    position: absolute;
    background: #182952;
    opacity: 0;
    visibility: hidden;
    transition: all 0.125s ease-in;
}
.sub_menu > li {
    padding: 16px 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.sub_menu > li > a {
    color: rgba(225, 225, 225, 0.6);
    text-decoration: none;
}
#main_menu > li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}
.sub_menu > li > a:hover {
    text-decoration: underline;
}

/*section 시작=================================================*/
