<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSM</title>
    <link rel="stylesheet" href="./selfStudy.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/log_index" id="GSM_logo"><img src="./GSM.PNG" alt="GSM_logo"></a>
            <a href="#" class="list_icon"><img src="./list_icon.png" id="list_icon_img" alt="리스트아이콘"></a>
        </nav>
        
    </header>
    <article>
        <section id="sec1">
            <h1 id="title" style="font-size: 40px; margin-top:80px; color:white;"><img style="width: 40px; height:auto;" src="./pen_png.png"> 야자 신청 <img style="width: 40px; height:auto;" src="./pen_png.png"></h1>
            <img id="school_upper" src="./school_upper.png" alt="sfsefs" style="z-index:5; width: 250px; height:220px; position:absolute; margin-left:15%; margin-top:-8.7%;">
            <div id="right_hiddin">
                <a href="#" class="list_icon" style="position: absolute; margin-left:203px; margin-top:36px;"><img src="./list_icon_X.png" id="list_icon_img" alt="리스트아이콘"></a>
                <ul id="right_hiddin_ul">
                    <li class="h2" id="h21"><a href="/cafeteria"><img src="./eat_png.png"> Meal</a></li>
                    <li class="h2" id="h22"><a href="/selfStudy"><img src="./pen_png.png"> Self-study</a></li>
                    <li class="h2" id="h23"><a href="/facilities"><img src="./school_png.png"> Broken</a></li>
                    <li class="h2" id="h24"><a href="/Petition"><img src="./petition_png.png"> petition</a></li>
                    <li class="h2" id="h25"><a href="/index"><img src="./login_png.png"> Logout</a></li>
                </ul>
            </div>
            <main>
                <div style="width: 500px; height:310px; display:inline-block; margin-left:-200px; margin-top:100px;">
                    <img id="left_notebook" style="width: 300px; height:auto; position:absolute" src="./notebook.png" alt="notebook">
                    <img id="left_no" src="./green_one.png" alt="X" style="width:300px; height:auto; z-index: 10; position:absolute;">
                </div>
                <div style="width: 500px; height:200px; display:inline-block; margin-left:200px; margin-top:30px;">
                    <p style="font-size: 25px; margin-top:50px;"><strong>Study is not everything in life, but if you are unable to conquer study that's only a part of life, what can you be able to achieve in life? -Harvard</strong></p>
                    <br>
                    <p style="font-size: 25px; margin-bottom:50px;"><strong>공부가 인생의 전부는 아니다 그러나 인생의 전부도 아닌 공부 하나도 정복하지 못한다면 과연 무슨 일을 할 수 있겠는가? -하버드</strong></p>
                    <a href="/notebookafter" id="noteBookBtn">노트북 대여 신청 취소하기</a>
                </div><br>
                <div style="margin-top: 100px;">
                    <p style="color: black; font-size:30px;"><strong>노트북 신청 명단</strong></p>
                </div>
            </main>
            <aside>
                <div id="aside_div">
                    <div>
                        <h1 style="color: black; font-size:27px; margin-bottom:20px;"><strong>1학년</strong></h1>
                        <div id="one-template" id="one" class="oneitem">
                            <div class="gclass"><strong>1101</strong></div>
                            <div class="gname"><strong>김동영</strong></div>
                        </div>
                        <div id="one-template" id="one" class="oneitem">
                            <div class="gclass"><strong>1102</strong></div>
                            <div class="gname"><strong>tets</strong></div>
                        </div>
                        <div id="one-template" id="one" class="oneitem">
                            <div class="gclass"><strong>1205</strong></div>
                            <div class="gname"><strong>creater</strong></div>
                        </div>
                        <div id="one-template" id="one" class="oneitem">
                            <div class="gclass"><strong>1103</strong></div>
                            <div class="gname"><strong>김보석</strong></div>
                        </div>
                    </div>
                    <div>
                        <h1 style="color: black; font-size: 27px; margin-bottom:20px;"><strong>2학년</strong></h1>
                        <div id="two-template" id="two" class="twoitem">
                            <div class="gclass"><strong>2201</strong></div>
                            <div class="gname"><strong>2학년</strong></div>
                        </div>
                        <div id="two-template" id="two" class="twoitem">
                            <div class="gclass"><strong>2202</strong></div>
                            <div class="gname"><strong>2학년 test</strong></div>
                        </div>
                        <div id="two-template" id="two" class="twoitem">
                            <div class="gclass"><strong>2203</strong></div>
                            <div class="gname"><strong>test</strong></div>
                        </div>
                    </div>
                    <div>
                        <h1 style="color: black; font-size:27px; margin-bottom:20px;"><strong>3학년</strong></h1>
                        <div id="tree-template" id="tree" class="treeitem">
                            <div class="gclass"><strong>3107</strong></div>
                            <div class="gname"><strong>tset</strong></div>
                        </div>
                        <div id="tree-template" id="tree" class="treeitem">
                            <div class="gclass"><strong>3106</strong></div>
                            <div class="gname"><strong>tset</strong></div>
                        </div>
                        <div id="tree-template" id="tree" class="treeitem">
                            <div class="gclass"><strong>3207</strong></div>
                            <div class="gname"><strong>tset</strong></div>
                        </div>
                    </div>
                </div>
                
            </aside>
            <a id="schoolWeb" href="http://gsm.gen.hs.kr/main/main.php"><strong>소마고 홈페이지 바로가기</strong></a>
        </section>
    </article>
    <script type="text/javascript" src="./script_all.js"></script>
    <script>
        $('#school_upper').hide();
        $('#school_upper').show(1000);
    </script>
</body>
</html>